.scroll{
    visibility: hidden !important;
}
.curtain-controler{
    visibility: hidden !important;
}

.curtain .step{
	font-family: "SimSun",Arial !important;
}

.curtain .step .intro{
	margin-top: 0px !important;
}

.curtain .step .intro h2{
	margin-top: 0 !important;
}  

.logo{
	margin-top: 0 !important;
}

.register{
	margin-top: 0 !important;
}

